<div class="face-snap-card" [ngClass]="{ snapped: userHasSnap }">
    <h2>{{faceSnap.title| uppercase}}</h2>
    @if(faceSnap.location){
      <p>Localisation : {{faceSnap.location}}</p>
    }
    @else {
      <p>Localisation non spécifiée</p>
    }
    <p>{{faceSnap.description}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">

    <p>Mis en ligne le {{faceSnap.createdAt| date }}</p>

    <p>{{snaps}}!</p>
    <p>
        <button (click) ="onSnap()">{{snapButtonText}}</button>
        <span [ngStyle]=" { color: 'rgb(0, ' + faceSnap.snaps+', 0)' }">🤌 {{ faceSnap.snaps }}</span>
      </p>
</div>